.cell-custom {
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid #333;
  min-height: 26px;
}
.cell-head-custom {
  color: white;
  background-color: #333;
  text-align: center;
  border: 1px solid white;
  border-right: 0px;
  font-weight: bold;
  padding: 3px;
}
.row-total {
  font-weight: bold;
  color: '#005595';
}
